* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
    font-family: 'VT323', monospace;
}

body {
    background-color: black;
    color: #07FF10;
}

main {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr 1fr;
    width: 100vw;
    height: 100vh;

}

#header-div {
    display: block;
    grid-column: 3 / 4;
    grid-row: 1 / 2;
    justify-self: center;
    margin-right: 2%;
}

h1 {
    font-size: 4rem;
}

p {
    font-size: 2rem;
}

a {
    color: #07FF10;
}

#input-field-div {
    grid-column: 2 / 3;
    grid-row: 2 / 3;
    justify-self: center;
    align-self: center;
}

input {
    font-size: 3rem;
    border: none;
    outline: none;
    background-color: black;
    color: #07FF10;
    text-align: center;
}

input::-webkit-input-placeholder {
    color: #07FF10;
}

#buttons-div {
    grid-column: 3 / 4;
    grid-row: 2 / 3;
    justify-content: center;
    max-width: 50%;
    align-self: center;
}

button {
    display: block;
    margin: 4% 0;
    text-align: center;
    width: 100%;
    font-size: 2rem;
    background-color: #07FF10;
    border: 2px solid #07FF10;
    outline: none;
    cursor: pointer;
}

button:hover {
    background-color: black;
    color: #07FF10;
    border: 2px solid #07FF10;
}

#cursor {
    color: black;
    width: 5%;
}

footer {
    color: #07FF10;
    grid-column: 2 / 3;
    grid-row: 3 / 4;
    align-self: end;
    justify-self: center;
    margin-bottom: 2%;

}

/* Media queries! */

@media screen and (max-width: 991px) {
    
    h1 {
        font-size: 2.7rem;
    }

    p {
        font-size: 1.5rem;
    }

    #buttons-div {
        max-width: 65%;
    }
}


@media screen and (max-width: 479px) {
    main {
        grid-template-columns: 1fr;
        grid-template-rows: auto;
    }

    #header-div {
        grid-column: 1 / 2;
    }

    #input-field-div {
        grid-column: 1 / 2;
        align-self: start;
    }

    #buttons-div {
        grid-column: 1 / 2;
        display: block;
        justify-self: center;
    }

    footer {
        grid-column: 1 / 2;
    }

}

@media screen and (max-width: 375px) {
    input {
        font-size: 2rem;
    }

    button {
        font-size: 1.5rem;
    }
}